<div class="row" style="min-height: 100vh; width: 100vw">
  <ui-gmap-google-map center='map.center'
                      zoom='map.zoom'
                      pan='map.pan'
                      options='map.options'
                      events='map.events'>
  </ui-gmap-google-map>
</div>

<div class="container">
  <div class="bs-docs-section" id="projects">

    <div class="row">
      <div class="col-lg-6">
        <h2 id="type-blockquotes">Saved Locations</h2>
      </div>
      <div class="col-lg-6">
        <h2 class="pull-right"><button class="btn btn-danger btn-md">Clear All</button></h2>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-lg-12">
        <div class="bs-component">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Address</th>
                <th>Longitude, Latitude</th>
                <th>Place ID</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>